In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("FantasyPros_Fantasy_Football_Advanced_Stats_Report_WR.csv")
df.head()

,Rank,Player,G,REC,YDS,Y/R,YBC,YBC/R,AIR,AIR/R,...,% TM,CATCHABLE,DROP,RZ TGT,10+ YDS,20+ YDS,30+ YDS,40+ YDS,50+ YDS,LNG
0,1.0,Davante Adams (GB),14.0,115.0,"1,374",11.9,777,6.8,777,6.8,...,29.7%,116.0,1.0,28.0,49.0,18.0,10.0,5.0,1.0,56.0
1,2.0,Tyreek Hill (KC),15.0,87.0,"1,276",14.7,842,9.7,842,9.7,...,22.1%,94.0,5.0,17.0,49.0,20.0,11.0,5.0,2.0,75.0
2,3.0,Stefon Diggs (BUF),16.0,127.0,"1,535",12.1,"1,071",8.4,"1,071",8.4,...,29.0%,137.0,8.0,16.0,62.0,20.0,5.0,5.0,2.0,55.0
3,4.0,Calvin Ridley (ATL),15.0,90.0,"1,374",15.3,"1,099",12.2,"1,099",12.2,...,23.6%,96.0,6.0,20.0,58.0,23.0,8.0,3.0,2.0,63.0
4,5.0,D.K. Metcalf (SEA),16.0,83.0,"1,303",15.7,940,11.3,940,11.3,...,24.0%,92.0,8.0,16.0,50.0,17.0,12.0,5.0,3.0,62.0